@font-face {
  font-family: 'px437_ibm_biosregular';
  src: url('px437_ibm_bios-webfont.woff2') format('woff2'),
       url('px437_ibm_bios-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

canvas {
  background: black;
}

.container {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 100%;
}

.upperPanel {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.upperPanel p:first-child {
  display: flex;
  justify-content: space-around;
}

.upperPanel p:nth-child(2) {
  display: flex;
  justify-content: space-around;
}

span {
  width: 80px;
}

.upperPanel p span:nth-child(2) {
  width: 200px;
  text-align: center;
}

.middlePanel {
  padding: 5px 15px;
}

p { 
  font-family: 'px437_ibm_biosregular';
  font-size: 18px;
  padding: 5px;
 }

 .bottomPanel {
  display: flex;
  width: 85%;
  justify-content: space-between;
 }


.lifes img {
  width: 23px;
  height: 23px;
}

.fruits {
  width: 100px;
}

